body{
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background: #f3f5f9
}

h1{
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding-left: 390px;
}

h2{
    margin-left: 100px;
}

.Parg1{
    margin-left: 30px;
}

.Exo-1{
    margin-left: 100px;
}

.valeur0{
    margin-left: 150px;
}

.valeur1{
    margin-left: 50px;
}

.Exo-2{
    margin-left: 100px;
}

.valeur2{
    margin-left: 150px;
}

.valeur2a{
    margin-left: 50px;
}

.Exo-3{
    margin-left: 100px;
}

.valeur3{
    margin-left: 150px;
}

.valeur3a{
    margin-left: 50px;
}

.Exo-4{
    margin-left: 100px;
}

.valeur4{
    margin-left: 150px;
}

.valeur4a{
    margin-left: 50px;
}

.resume{
    margin-left: 50px;
}

.Exo-5{
    margin-left: 100px;
}

.valeur5{
    margin-left: 150px;
}

.valeur5a{
    margin-left: 50px;
}

.resume2{
    margin-left: 50px;
}

.Exo-6{
    margin-left: 100px;
}

.valeur6{
    margin-left: 150px;
}

.valeur6a{
    margin-left: 50px;
}

.Exo-7{
    margin-left: 100px;
}

.valeur7{
    margin-left: 150px;
}

.valeur7a{
    margin-left: 50px;
}



